<div id="compare">
    <h1>pwd compare</h1>
    <form action="pwdresults" method="POST">
        id : <input type="number" name="userid">
        password: <input type="text" name="password"><br>
        <button type="submit">Compare pwd</button>
    </form>
</div>