<script>
    console.log('loaded html')
    if(!this.req.data) {
        let data = 'Welcome stranger'
        return data
    }
</script>
<body>
<div id='login-form'>
    <h1><%=data%></h1>
    <form action="login" method="POST">
        username : <input type="text" name='userId'><br>
        pass : <input type="text" name='password'><br>
        <button type="submit">Login</button>
    </form>
    
</div>
</body>