<head>

</head>
<body>
  <div id="homepage">
    <h1>FANTASTIC WEBSITES OF THE INTERNETS</h1>
      <form action="/login" method="GET">
        <button type="submit">INTO THE DARKNESS</button>
      </form>
  </div>
</body>